.header {
    background: $couleur-white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;   
    @include heading-shadow;
    &__logo{
        padding: 11px 0px 11px 0px;
    }
}