.heart__icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    &--empty{
        position: absolute;
        color: black;
    }
    &--full{
        position: absolute;
        opacity: 0;
        background: linear-gradient(#FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all 400ms;
    }
    &:hover &--full{
        opacity: 1;

    }
    &:hover &--empty{
        opacity: 0;
    }
}