.heart__icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &--empty{
        color: black;
        transition: all 200ms ease;
    }
    &:hover &--empty{
        font-weight: 900;
        background: linear-gradient(#FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}
