html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: $couleur-white;
}

.main-container{
    width: 100%;
}
main{
    position: relative;
    z-index: 0;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: $couleur-white;
    border-radius: 25px;
    padding: 15px 50px;
    background: linear-gradient( $couleur-secondary , $couleur-primary);
    border: none;
    width: fit-content;
    cursor: pointer;
    @include button-shadow;
    transition: all 400ms;
}


button:hover{
    opacity: 0.8;
    @include button-shadow-hover;
}