@keyframes apparition {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes reload_visibility {
  90% {
    display: flex;
  }
  100% {
    display: none;
    z-index: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #fff;
}

.main-container {
  width: 100%;
}

main {
  position: relative;
  z-index: 0;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  border-radius: 25px;
  padding: 15px 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  width: fit-content;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px #bfbfbf;
  transition: all 200ms ease-in;
}

button:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px 0px #7E7E7E;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 1.75rem;
  font-style: italic;
  margin: 0px;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

h3 {
  font-weight: 300;
  font-size: 1.125rem;
  color: #353535;
  margin: 18px 0px 30px 0px;
}

h4 {
  font-weight: 500;
}

.fa-mobile-screen-button, .fa-list, .fa-store {
  color: #7E7E7E;
  font-size: 20px;
}

.back {
  font-size: 1rem;
  position: absolute;
  left: 23px;
  color: #000;
}

.header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  box-shadow: 0px 2px 4px 0px #d9d9d9;
}
.header__logo {
  padding: 11px 0px 11px 0px;
}

footer {
  background-color: #353535;
  padding: 25px;
  color: #fff;
  position: relative;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 90px;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 2px;
  }
}
.footer-container__logo {
  height: 18px;
}
@media (max-width: 768px) {
  .footer-container__logo {
    margin-bottom: 10px;
  }
}
.footer-container__links {
  display: flex;
  gap: 45px;
}
@media (max-width: 768px) {
  .footer-container__links {
    flex-direction: column;
    gap: 0px;
  }
}

.footer-container a {
  text-decoration: none;
  color: #fff;
  display: flex;
}

.footer-container ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  margin: 0px;
}
@media (max-width: 768px) {
  .footer-container ul {
    flex-direction: column;
    margin-top: 10px;
  }
}

.fa-utensils, .fa-handshake-angle {
  font-size: 13px;
}

.fa-utensils {
  margin-right: 15px;
  padding-top: 3px;
}

.fa-handshake-angle {
  margin-right: 10px;
  padding-top: 5px;
}

.heart__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.heart__icon--empty {
  color: black;
  transition: all 200ms ease-in-out;
}
.heart__icon:hover .heart__icon--empty {
  font-weight: 900;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.loader-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: #f6f6f6;
  position: fixed;
  animation: reload_visibility 3s ease-in-out forwards;
}

.loader {
  border: 5px solid #9356DC;
  border-radius: 50%;
  border-top: 5px solid #FF79DA;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
  padding-top: 15px;
  padding-bottom: 15px;
}
.location__label {
  font-size: 1rem;
  font-weight: 500;
}

.reservation {
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #f6f6f6;
}
@media (max-width: 768px) {
  .reservation {
    padding: 40px 30px 57px 30px;
  }
}
.reservation__title {
  padding: 0rem 2rem;
}

.functioning {
  background-color: #fff;
  padding: 50px 20px;
  display: flex;
  gap: 25px;
  flex-direction: column;
}
@media (min-width: 769px) {
  .functioning {
    align-items: center;
  }
}
@media (min-width: 769px) {
  .functioning__container {
    width: 80%;
  }
}
.functioning__steps {
  display: flex;
  gap: 25px;
  margin-bottom: 16px;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .functioning__steps {
    flex-direction: column;
  }
}
.functioning__steps__stage {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  gap: 27px;
  margin-left: 13px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 769px) {
  .functioning__steps__stage {
    padding-right: 20px;
  }
}
.functioning__steps__stage__number {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #fff;
  background-color: #9356DC;
  margin-left: -13px;
}

.restaurants {
  padding: 55px 20px;
  display: flex;
  background-color: #f6f6f6;
}
@media (min-width: 769px) {
  .restaurants {
    justify-content: center;
  }
}
.restaurants__container {
  width: 100%;
}
@media (min-width: 769px) {
  .restaurants__container {
    width: 80%;
  }
}
.restaurants__cards {
  display: grid;
  margin-top: 25px;
  margin-bottom: 10px;
  gap: 18px;
}
@media (min-width: 769px) {
  .restaurants__cards {
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
}
.restaurants__cards__links {
  width: 100%;
  height: auto;
  text-decoration: none;
  color: #000;
  animation: apparition 1.5s both;
}

.card {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  padding-bottom: 15px;
}
.card__img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  height: 160px;
}
.card__image-new {
  position: relative;
}
.card__content {
  padding-left: 13px;
  padding-right: 25px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.card-city {
  margin: 5px 0px 0px 0px;
}

.new {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  padding: 8px 10px;
  border-radius: 2px;
  font-size: 0.875rem;
  font-weight: 500;
  top: 15px;
  right: 15px;
  box-shadow: 0px 2px 4px 0px #d9d9d9;
}

.image-background > img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
@media (min-width: 769px) {
  .image-background > img {
    height: 383px;
  }
}

.menu-container {
  background-color: #f6f6f6;
  border: solid 1px #f6f6f6;
  border-radius: 33px 33px 0px 0px;
  padding: 30px 13px;
  position: relative;
  margin-top: -40px;
}
@media (min-width: 769px) {
  .menu-container {
    width: 1055px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;
  }
}
.menu-container__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 769px) {
  .menu-container__title {
    justify-content: center;
    gap: 24px;
  }
}

.entrees {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 769px) {
  .entrees {
    padding: 0px 200px;
  }
}

.entrees h2 {
  font-weight: 300;
  font-size: 1rem;
  margin-top: 35px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.btm-border {
  width: 40px;
  height: 3px;
  display: block;
  background-color: #99E2D0;
}

.choix {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  height: 69px;
  cursor: pointer;
  overflow: hidden;
  animation: apparition 1s both;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.choix:hover .choix__check {
  margin-right: 0;
}
.choix__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
}
.choix__price {
  font-weight: 500;
  font-size: 1.125rem;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  padding: 15px;
}
.choix__check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -95px;
  width: 65px;
  padding: 0 0.9375rem;
  background-color: #99E2D0;
  transition: margin-right 0.4s ease-in-out;
}
.choix__check::after {
  content: "\f00c";
  font-family: "FontAwesome";
  padding: 0.3rem;
  border-radius: 50%;
  color: #99E2D0;
  font-size: 1rem;
  background-color: #fff;
}

.choix h3 {
  font-weight: 500;
  margin: 0px;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
}

.choix h4 {
  font-size: 0.938rem;
  font-weight: 300;
  margin: 3px 0px 0px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.commander {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.image-background {
  width: 100%;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
