.image-background > img{
    width: 100%;
    height: 275px;
    object-fit: cover;
    @media (min-width: 769px){
        height:383px
    }
}

.menu-container{
    background-color: $couleur-grey_light;
    border: solid 1px $couleur-grey_light;
    border-radius: 33px 33px 0px 0px;
    padding: 30px 13px;
    position: relative;
    margin-top: -40px;
    @media (min-width: 769px){
        margin-left: auto;
        margin-right: auto;
        padding: 50px 0px;
    }
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (min-width: 769px) {
            justify-content: center;
            gap: 24px;
        }
    }
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media(min-width:769px){
        padding: 0px 200px;
    }
}

.menu h2{
    font-weight: 300;
    font-size: 1rem;
    margin-top: 35px;
    margin-bottom: 5px;
    text-transform: uppercase;
    &::after{
    content: "";
    width: 40px;
    height: 3px;
    display: block;
    background-color: $couleur-Tertiary;
    }
}

.choice{
    display: flex;
    justify-content: space-between;
    background-color: $couleur-white;
    border-radius: 15px;
    height: 69px;
    cursor: pointer;
    overflow: hidden;
    animation: apparition 1s 0.5s both ;
    &:hover .choice__check{
        margin-right: 0;
    }
    @include stage-shadow ;
    &__title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 15px;
    }
    &__price{
    font-weight: 500;
    font-size: 1.125rem;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    padding:15px;
    }
    &__check{
        @include choice-check;
    }
    &__check::after{
        content:"\f00c";
        font-family: "FontAwesome";
        padding: 0.3rem;
        border-radius: 50%;
        color: $couleur-Tertiary;
        font-size: 1rem;
        background-color: $couleur-white;
    }
}

.choice h3{
    font-weight: 500;
    margin: 0px;
    color: $couleur-black;
    text-overflow: ellipsis;
    overflow: hidden;
}

.choice h4{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 3px 0px 0px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Order{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.image-background{
    width: 100%;
    position: relative;
}