/****** Menu apparition ***********/
@keyframes apparition {
    from{
        transform: translateY(40px);
        opacity: 0;
        
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/****** Loader ***********/
@keyframes reload_visibility {
    from{
        display: flex;
    }
    to{
        display: none;
    }
}

@keyframes spin {
    from { 
        transform: rotate(0deg); 
    }
    to { 
        transform: rotate(360deg); 
    }
  }
