@mixin heading-shadow {
    box-shadow: 0px 2px 4px 0px lighten($couleur-black, 85);
}

@mixin button-shadow{
    box-shadow: 0px 4px 10px 0px lighten($couleur-black, 75);
}

@mixin button-shadow-hover{
    box-shadow: 0px 4px 10px 0px $couleur-grey_tint;
}


@mixin etape-shadow {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

@mixin choix-check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -95px;
    width: 65px;
    padding: 0 0.9375rem;
    background-color: $couleur-Tertiary;
    transition: margin-right .4s ease-in-out;
}