$couleur-primary: #9356DC;
$couleur-secondary: #FF79DA;
$couleur-Tertiary:#99E2D0;
$couleur-green:#008766;
$couleur-white: #fff;
$couleur-black: #000;
$couleur-shadow:#00000026;
$couleur-grey: #EAEAEA;
$couleur-grey_light: #f6f6f6;
$couleur-grey_dark: #353535;
$couleur-grey_tint: #7E7E7E;

